* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

/* Navbar start*/
.navbar {
    width: 100%;
    background-color: #0f172a;
    position: sticky;
    top: 0;
    overflow: hidden;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    padding: 0.5rem;
}
.logo{
    color: #f8fafc;
    font-size: larger;
    padding-left: 2%;
}
.nav-links{
    display: flex;
    gap: 0.8rem;
    list-style: none;
    margin-left: auto;
}
.navbar a {
  color: #f8fafc;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size:larger;
  text-decoration: none;
}
.navbar a:hover {
  color: #3DADFF; 
}
/* Navbar end*/

/* Socials start*/
.social-links a{
  color: #0f172a;
}
.social-links a:hover {
  color: #3DADFF; 
}
/* Socials end*/

/* Hero start*/
.hero{
  width: 100%;
  background-color: #3DADFF;
  top: 0;
  overflow: hidden;
}
.hero-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: larger;
  padding: 1.5rem;
}
.hero-content{
  padding: 1,5rem;
}
.hero img {
  width: 200px;
  height: 350px;
  object-fit: cover;
  display: flex;
}
/* Hero end*/

/* Highlight start*/
/* Highlight end*/

/* Contact start*/
/* Contact end*/

/* Footer start*/
.footer{
    background-color: #0f172a;
}
.footer-links{
    list-style-type: none;
}
.footer a {
  color: #f8fafc;
}
.footer a:hover {
  color: #3DADFF; 
}
.copy{
    color: #f8fafc;
}
/* Footer end*/